footer.footer {
  bottom: 0;
  width: 100%;
  line-height: 30px;
  background-color: #f5f5f5;
}
footer.footer > .container {
  margin-right: 0;
  margin-left: 0;
}
footer.footer p {
  margin-bottom: 0;
}
footer.footer a {
  cursor: pointer;
}
.main-sidebar {
  background: #202227 !important;
}
.skin-blue .sidebar-menu > li.header {
  color: #93AFBB;
  background: #25272d;
}
.sidebar-menu .append {
  margin-top: -30px;
}
